<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
	
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	<title>jQuery Grid Gallery Plugin</title>	
	<script src="js/jquery-1.7.2.min.js" type="text/javascript"></script>
	<script src="js/jpages.min.js"></script>	
	<script src="js/jquery.pagegallery.min.js"></script>	
	<link rel="stylesheet" href="css/animate.css">	
	<link rel="stylesheet" href="css/gallery.css">	
	
	
    <script>
	$(document).ready(function(){
		
  		var gallery;
		gallery = $('#gallery').pageGallery({			
            thumbContainerID: 'thumbnails',
			largeContainerID: 'largeImage',
			listThumbEase: false,
			gridThumbEase: false,
            perPage: 5,
			largeContainerOffset: -80
		});
		
		
		
		/* on select change */
	    $("select#largeImg").change(selChange);	
	    $("select#slideshowSel").change(selChange);
	    $("select#closePosSel").change(selChange);		
	    $("select#clickImgSel").change(selChange);			
		function selChange(){
	        var _largeImgEase = $('select#largeImg').val();
			/*
	        var _listThumbEase = $('select#listThumb').val();
	        var _gridThumbEase = $('select#gridThumb').val();	
			*/
			var _slideshow = $('select#slideshowSel').val()=="true"?true:false;
			var _clickImg = $('select#clickImgSel').val()=="true"?true:false;			
			var _closePos = $('select#closePosSel').val();
			gallery.destroy();
			gallery = $('#gallery').pageGallery({
				/*
				gridThumbEase: _gridThumbEase,
				listThumbEase: _listThumbEase,				
				*/
				slideShow: _slideshow,
				largeImgClickable: _clickImg,
				closeButtonPosition: _closePos,
				largeImgEase: _largeImgEase
			});			
			$('#selections').hide();
		}
				
		$('#toggleImg').on('click', function(event){
			$('#selections').toggle();
		})
		 	             		                                                                                                    
	});
	</script>
	
</head>

<body>	
	
	<div id="header">
		<!-- you can put your image logo here -->
		<h1>jQuery <span class="hilight">Gallery</span></h1>
	</div>
	
    {% block body %}

    {% endblock %}
	<div id="transition">
		<div id="selections">
		
		<p>Large Image Transition:</p>
		<form autocomplete="off">
		<select id="largeImg">
		    <option>fadeIn</option>
		    <option selected="selected">fadeInUp</option>
		    <option>fadeInDown</option>
		    <option>fadeInLeft</option>
		    <option>fadeInRight</option>
		    <option>fadeInUpBig</option>
		    <option>fadeInDownBig</option>
		    <option>fadeInLeftBig</option>
		    <option>fadeInRightBig</option>
		    <option>flipInX</option>
		    <option>bounceIn</option>
		    <option>bounceInDown</option>
		    <option>bounceInUp</option>
		    <option>bounceInLeft</option>
		    <option>bounceInRight</option>
		    <option>rotateIn</option>
		    <option>rotateInDownLeft</option>
		    <option>rotateInDownRight</option>
		    <option>rotateInUpLeft</option>
		    <option>rotateInUpRight</option>
		    <option>rollIn</option>
		</select>		
		</form>
		
		<p>Auto delay slideshow:</p>
		<form autocomplete="off">
		<select id="slideshowSel">
		    <option selected="selected">true</option>
		    <option>false</option>
		</select>		
		</form>		
		<p>Put the close button on:</p>
		<form autocomplete="off">
		<select id="closePosSel">
		    <option>left</option>
		    <option selected="selected">right</option>
		</select>		
		</form>				
		<p>Enable large image click:</p>
		<form autocomplete="off">
		<select id="clickImgSel">
		    <option selected="selected">true</option>
		    <option>false</option>
		</select>		
		</form>						
		</div>
				
		<div id="toggleImg"></div>
	</div>
	
</body>

</html>
